*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background: lightgray;
    font-family:'Lora', serif ;
}
h1,h2,h3,h4,h5{
    font-family: 'candal',serif;
    color: #444;
    margin: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background: #008489;
    height: 66px;
}
header *{
    color: white;
}
header .logo{
    float:left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 5px;
    font-family: 'Canda', serif;
}
header .logo-text span{
color: blue;

}

header ul{
    float:right;
    margin: 0px;
    padding: 0px;
    list-style: none;

}
header ul li{
    float: left;
    position: relative;
}
.nav .search-container {
    float: right;
  }
.nav .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .nav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .nav .search-container button:hover {
    background: #ccc;
  }

header ul li ul i{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;

}
header ul li:hover ul{
display: block;
}


header ul li ul li{
    width: 100%;
    background: white;
    color: #444;

}
header ul li ul a{
    background: #d5d6d6;

}

header ul li ul a.logout{
    color: red;

}

header ul li ul a:hover{
    padding: 10px;

}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}
header ul li a:hover{
background: #006669;
transition: 0.5s;
}
header .menu-toggle{
    display: none;
}

.page-wrapper a:hover{
color: midnightblue;
}

/* post slider*/
 .post-slider{
     position: relative;
   

}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .next{
    position: absolute;
    top:50%;
    right:30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;

}
.post-slider .prev{
    position: absolute;
    top:50%;
    left:30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
 .post-slider .post-wrapper{
   width:84%;
   height: 350px;
   margin:0px auto;
   overflow: hidden;
   padding: 10px 0px 10px 0px;
   
}
 .post-slider .post-wrapper .post{
    display: inline-block;
    width:300px;
    margin:0px 10px;
    height:330px;
    background:white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;

}

.post-slider .post-wrapper .post .post-info{
height:10px;
padding: 0px 5px;

}
.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

/* subpost slider*/
.subpost-slider{
    position: relative;
  

}
.subpost-slider .subslider-title{
   text-align: justify;
   margin: 30px auto;
}

.subpost-slider .next{
   position: absolute;
   top:50%;
   right:30px;
   font-size: 2em;
   color: #006669;
   cursor: pointer;

}
.subpost-slider .prev{
   position: absolute;
   top:50%;
   left:30px;
   font-size: 2em;
   color: #006669;
   cursor: pointer;
}
.subpost-slider .subpost-wrapper{
  width:84%;
  height: 270px;
  margin:0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  
}
.subpost-slider .subpost-wrapper .subpost{
   display: inline-block;
   width:250px;
   margin:0px 10px;
   height:270px;
   background:white;
   border-radius: 5px;
   box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;

}

.subpost-slider .subpost-wrapper .subpost .subpost-info{
height:130px;
padding: 0px 5px;

}
.subpost-slider .subpost-wrapper .subpost .subslider-image{
   width: 100%;
   height: 200px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;

}

/* Media queries */
@media only screen and (max-width: 750px){
    header{
        position: relative;
    }
    .showing{

        max-height: 100em;
    }

    header ul {
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }
    header ul li{
        width: 100%;
    }  
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    } 
    header ul li ul li a{
        padding: 10px;
        background: #0E94A0;
        color:white;
        padding-left: 50px;
    
    }
    header ul li ul a.logout{
        color: red;
    
    }
    header ul li ul a{
        background: #006669;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right:20px;
        top: 10px;
        font-size: 1.9em;
    } 
    
    header .logo{
        margin-left: .8em;
    }
    
    
    
}




